/*=================================================================================
    DataTables
====================================================================================*/
td,
th,
table {
  text-align: center !important;
}

/*=================================================================================
    Footer
====================================================================================*/
html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

footer.page-footer {
  padding-top: 0px;
  position: relative !important;
  bottom: 0;
  width: 100%;
}
/*=================================================================================
    Datepicker
====================================================================================*/
.picker__date-display {
  background-color: #00bcd4 !important;
}
.picker__weekday-display {
  background-color: #00acc1 !important;
}
.picker__close {
  color: #ff4081 !important;
}
.picker__today {
  color: #00bcd4 !important;
}
.picker__day.picker__day--today {
  color: #00bcd4 !important;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: #fff !important;
}
/*=================================================================================
    Pembelian Page
====================================================================================*/
#tambah_field .select-wrapper input.select-dropdown {
  display: none !important;
}
#tambah_field .select-wrapper .mdi-navigation-arrow-drop-down {
  display: none;
}
#tambah_field select {
  border: 0px solid;
  border-bottom: 1px solid #9e9e9e;
}
#tambah_field .row {
  margin-bottom: 0px !important;
}


.input-field label{
  font-size: 0.7rem!important;
}
